In [2]:
import pandas as pd
import plotly.express as px

In [3]:
df = pd.read_csv(r'historico-alg1_SIGA_ANONIMIZADO.csv')

In [4]:
df.head(5)

,matricula,codigo,disciplina,periodo,ano,curriculo,ch,nota,frequencia,status,tipo,observacao,natureza,situacaoDiscente,nomeTuma,codigoCurriculoSie
0,0,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2016,Sim,60,67,96,Aprovado,TURMA,C,Obrigatória,Conclusão formatura,NaN,21A
1,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2019,Sim,60,0,73,R-freq,TURMA,NaN,Obrigatória,Registro ativo,A,21A
2,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,2,2019,Sim,60,11,76,R-nota,TURMA,NaN,Obrigatória,Registro ativo,B,21A
3,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,2,2020,Sim,60,0,0,Cancelado,TURMA,NaN,Obrigatória,Registro ativo,B,21A
4,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2020,Sim,60,0,0,Cancelado,TURMA,NaN,Obrigatória,Registro ativo,ERE 2 - D,21A

In [5]:
df_teste = df[(df['tipo'] == 'EQUIVALENCIA') & (df['nota'] != 0)]
df_teste.head()

,matricula,codigo,disciplina,periodo,ano,curriculo,ch,nota,frequencia,status,tipo,observacao,natureza,situacaoDiscente,nomeTuma,codigoCurriculoSie
55,28,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2014,Sim,60,81,0,Aprovado,EQUIVALENCIA,NaN,Obrigatória,Registro ativo,NaN,21A
153,87,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2013,Sim,60,54,0,Aprovado,EQUIVALENCIA,NaN,Obrigatória,Registro ativo,NaN,21A

In [6]:
df.dtypes

matricula              int64
codigo                object
disciplina            object
periodo               object
ano                    int64
curriculo             object
ch                     int64
nota                   int64
frequencia             int64
status                object
tipo                  object
observacao            object
natureza              object
situacaoDiscente      object
nomeTuma              object
codigoCurriculoSie    object
dtype: object

In [7]:
#1. Qual a média da nota dos aprovados? No período total e por ano

In [8]:
df_aprovados = df[(df['status'] == 'Aprovado') & (df['tipo'] != 'EQUIVALENCIA')]

In [9]:
df_aprovados.tail()

,matricula,codigo,disciplina,periodo,ano,curriculo,ch,nota,frequencia,status,tipo,observacao,natureza,situacaoDiscente,nomeTuma,codigoCurriculoSie
900,567,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2022,Sim,60,91,100,Aprovado,TURMA,NaN,Obrigatória,Registro ativo,BCC2,21A
903,568,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2021,Sim,60,88,100,Aprovado,TURMA,NaN,Obrigatória,Registro ativo,A,21A
905,570,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2022,Sim,60,70,100,Aprovado,TURMA,NaN,Obrigatória,Registro ativo,BCC3,21A
906,571,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2018,Não,60,98,100,Aprovado,TURMA,NaN,-,Registro ativo,A,21A
908,572,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2021,Sim,60,83,100,Aprovado,TURMA,NaN,Obrigatória,Registro ativo,C,21A

In [10]:
df_aprovados['nota'].mean()

77.58004158004158

In [11]:
df_aprovados_gb = df_aprovados.groupby('ano').agg({'nota':'mean'}).reset_index()

In [12]:
df_aprovados_gb.head(11)

     ano       nota
0   2011  50.000000
1   2013  72.714286
2   2014  70.666667
3   2015  68.576923
4   2016  72.093023
5   2017  78.106061
6   2018  76.406250
7   2019  74.741176
8   2020  84.466667
9   2021  83.882353
10  2022  77.818182

In [13]:
#2. Qual é a média de nota dos reprovados por nota (período total e ano)?

In [14]:
df_reprovados = df[df['status'] == 'R-nota']

In [15]:
df_reprovados.head()

,matricula,codigo,disciplina,periodo,ano,curriculo,ch,nota,frequencia,status,tipo,observacao,natureza,situacaoDiscente,nomeTuma,codigoCurriculoSie
2,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,2,2019,Sim,60,11,76,R-nota,TURMA,NaN,Obrigatória,Registro ativo,B,21A
6,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,2,2021,Sim,60,21,80,R-nota,TURMA,NaN,Obrigatória,Registro ativo,D,21A
13,5,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2016,Não,60,1,83,R-nota,TURMA,NaN,-,Registro ativo,D,21A
14,5,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,2,2016,Não,60,29,86,R-nota,TURMA,NaN,-,Registro ativo,C,21A
19,7,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2018,Não,60,1,93,R-nota,TURMA,NaN,-,Registro ativo,D,21A

In [16]:
df_reprovados['nota'].mean()

22.037037037037038

In [17]:
df_reprovados_gb = df_reprovados.groupby('ano').agg({'nota':'mean'}).reset_index()

In [18]:
df_reprovados_gb.head(11)

     ano       nota
0   2012  24.000000
1   2013  30.000000
2   2014  25.000000
3   2015  19.833333
4   2016  15.400000
5   2017  25.904762
6   2018  23.136364
7   2019  23.321429
8   2020  25.875000
9   2021  19.589744
10  2022  19.777778

In [19]:
#3. Qual é a frequência dos reprovados por nota (período total e por ano)?

In [20]:
df['status'].value_counts('R-nota')

status
Aprovado       0.686469
R-nota         0.178218
R-freq         0.053905
Cancelado      0.040704
Matriculado    0.039604
Reprovado      0.001100
Name: proportion, dtype: float64

In [21]:
#4. Qual a porcentagem de evasões (total e anual)?

In [22]:
df['situacaoDiscente'].value_counts('Evasão')

situacaoDiscente
Registro ativo         0.671067
Evasão                 0.156216
Conclusão formatura    0.113311
Trancamento            0.059406
Name: proportion, dtype: float64

In [23]:
evasao_por_ano = df[df['situacaoDiscente'] == 'Evasão'].groupby('ano').size().reset_index(name='evasao')
evasao_por_ano.head(15)

    ano  evasao
0  2013       7
1  2014       3
2  2015       7
3  2016       8
4  2017      17
5  2018      22
6  2019      39
7  2020      19
8  2021      17
9  2022       3

In [24]:
total_situacao = df.groupby('ano').size().reset_index(name='total_alunos')
total_situacao.head(15)

     ano  total_alunos
0   2011             1
1   2012             4
2   2013            11
3   2014            13
4   2015            35
5   2016            53
6   2017            92
7   2018            96
8   2019           238
9   2020           106
10  2021           138
11  2022           122

In [25]:
evasao_por_ano = pd.merge(evasao_por_ano, total_situacao, on='ano', how='outer')
evasao_por_ano.head()

    ano  evasao  total_alunos
0  2011     NaN             1
1  2012     NaN             4
2  2013     7.0            11
3  2014     3.0            13
4  2015     7.0            35

In [26]:
evasao_por_ano['porcentagem_evasao'] = (evasao_por_ano['evasao'] / evasao_por_ano['total_alunos']) * 100

In [27]:
evasao_por_ano.head(20)

     ano  evasao  total_alunos  porcentagem_evasao
0   2011     NaN             1                 NaN
1   2012     NaN             4                 NaN
2   2013     7.0            11           63.636364
3   2014     3.0            13           23.076923
4   2015     7.0            35           20.000000
5   2016     8.0            53           15.094340
6   2017    17.0            92           18.478261
7   2018    22.0            96           22.916667
8   2019    39.0           238           16.386555
9   2020    19.0           106           17.924528
10  2021    17.0           138           12.318841
11  2022     3.0           122            2.459016

In [28]:
df_2013 = df[df['ano']== 2013]
df_2013.head(11)

,matricula,codigo,disciplina,periodo,ano,curriculo,ch,nota,frequencia,status,tipo,observacao,natureza,situacaoDiscente,nomeTuma,codigoCurriculoSie
43,22,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2013,Sim,60,75,100,Aprovado,TURMA,NaN,Obrigatória,Registro ativo,A,21A
153,87,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2013,Sim,60,54,0,Aprovado,EQUIVALENCIA,NaN,Obrigatória,Registro ativo,NaN,21A
304,189,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2013,Sim,60,8,100,R-nota,TURMA,NaN,Obrigatória,Evasão,NaN,21A
305,189,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,2,2013,Sim,60,94,93,Aprovado,TURMA,NaN,Obrigatória,Evasão,NaN,21A
390,246,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2013,Sim,60,89,100,Aprovado,TURMA,NaN,Obrigatória,Conclusão formatura,A,21A
404,255,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2013,Sim,60,35,100,R-nota,TURMA,NaN,Obrigatória,Evasão,B,21A
405,255,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,2,2013,Sim,60,60,90,Aprovado,TURMA,NaN,Obrigatória,Evasão,B,21A
428,273,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2013,Sim,60,53,96,Aprovado,TURMA,NaN,Obrigatória,Evasão,NaN,21A
526,335,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2013,Sim,60,47,100,R-nota,TURMA,NaN,Obrigatória,Evasão,NaN,21A
527,335,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,2,2013,Sim,60,79,90,Aprovado,TURMA,NaN,Obrigatória,Evasão,NaN,21A
580,372,CI055,ALGORITMOS E ESTRUTURAS DE DADOS I,1,2013,Sim,60,59,93,Aprovado,TURMA,B,Obrigatória,Conclusão formatura,NaN,21A

In [29]:
#5. Como os anos de pandemia impactaram no rendimento dos estudantes em relação aos anos anteriores, considerando o rendimento dos aprovados, 
# a taxa de cancelamento e as reprovações? 
# Considere como anos de pandemia os anos de 2020 e 2021.

In [30]:
df_pandemia = df[(df['ano'] == 2020) | (df['ano'] == 2021)]

In [31]:
df_pandemia_aprovados = df_pandemia[(df_pandemia['status']== 'Aprovado') & (df['tipo']!= 'EQUIVALENCIA')]

C:\Users\Mikael\AppData\Local\Temp\ipykernel_39060\1053261395.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_pandemia_aprovados = df_pandemia[(df_pandemia['status']== 'Aprovado') & (df['tipo']!= 'EQUIVALENCIA')]

In [32]:
df_pandemia_aprovados['nota'].mean()

84.15625

In [33]:
df_pandemia.value_counts('status', normalize=True)

status
Aprovado       0.565574
R-nota         0.192623
Cancelado      0.135246
R-freq         0.081967
Matriculado    0.024590
Name: proportion, dtype: float64

In [34]:
df_antes_pandemia = df[df['ano'] < 2020]
df_antes_aprovados = df_antes_pandemia[df_antes_pandemia['status']== 'Aprovado']

In [35]:
df_antes_aprovados['nota'].mean()

52.09069767441861

In [36]:
df_antes_pandemia.value_counts('status', normalize=True)

status
Aprovado     0.791897
R-nota       0.162063
R-freq       0.040516
Cancelado    0.003683
Reprovado    0.001842
Name: proportion, dtype: float64

In [37]:
# 6- Compare a volta às aulas híbrida (2022 período 1) com os anos de pandemia e os anos anteriores.

In [38]:
df1_2022 = df[(df['ano'] == 2022) & (df['periodo'] == '1')]
df1_2022_aprovados = df[df['status'] == 'Aprovado']
df1_2022.head()

,matricula,codigo,disciplina,periodo,ano,curriculo,ch,nota,frequencia,status,tipo,observacao,natureza,situacaoDiscente,nomeTuma,codigoCurriculoSie
7,1,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2022,Sim,60,0,25,R-freq,TURMA,NaN,Obrigatória,Registro ativo,BCC2,21A
10,3,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2022,Sim,60,72,100,Aprovado,TURMA,NaN,Obrigatória,Registro ativo,BCC1,21A
11,4,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2022,Sim,60,0,0,Cancelado,TURMA,NaN,Obrigatória,Registro ativo,BCC2,21A
27,11,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2022,Sim,60,1,90,R-nota,TURMA,NaN,Obrigatória,Trancamento,BCC5,21A
36,18,CI1055,ALGORITMOS E ESTRUTURAS DE DADOS 1,1,2022,Sim,60,0,100,R-nota,TURMA,NaN,Obrigatória,Trancamento,BCC3,21A

In [39]:
df1_2022_aprovados['nota'].mean()

60.017628205128204

In [40]:
df1_2022.value_counts('status', normalize=True)

status
Aprovado       0.589474
R-nota         0.284211
R-freq         0.073684
Matriculado    0.031579
Cancelado      0.021053
Name: proportion, dtype: float64

In [41]:
#7. Compare a volta às aulas presencial (2022 período 2) com a volta híbrida do item anterior.

In [42]:
df2_2022 = df[(df['ano'] == 2022) & (df['periodo'] == '2')]
df2_2022_aprovados = df[df['status'] == 'Aprovado']

In [43]:
df2_2022_aprovados['nota'].mean()

60.017628205128204

In [44]:
df2_2022.value_counts('status', normalize=True)

status
Matriculado    1.0
Name: proportion, dtype: float64

In [66]:
# Média da nota dos estudantes aprovados por ano sem as equivalências. 
df_aprovados_gb

fig = px.line(df_aprovados_gb, x = 'ano', y= 'nota', markers = True)
fig.add_vline(x = 2020, line_width=2, line_dash='dot', annotation_text = 'Anos da pandemia', annotation_position='bottom left')
fig.add_vline(x = 2021, line_width=2, line_dash='dot')
fig.update_layout(title= 'Média da nota dos estudantes aprovados por ano sem as equivalências')
fig.show()